<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сделаем лучше вместе</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<section class="top">
		<header class="header">
			<a href="index.html"><img src="img/logo.png" alt="logo" class="header__logo"></a>
			<h2 class="heading">Сделаем лучше вместе!</h2>
			<p class="header__text">Городской портал по приему заявок на устранение проблем в городе</p>
		</header>
	</section>

	<section class="register">
		<form action="#" class="register-form">
			<input type="text" class="register-form__input" placeholder="Придумайте логин">
			<input type="password" class="register-form__input"  placeholder="Придумайте пароль">
			<input type="password" class="register-form__input"  placeholder="Повторите пароль">
			<button class="register-form__button">Зарегистрироваться</button>
		</form>
	</section>
	<footer class="footer">
		<img src="img/logo.png" alt="" class="footer__img">
	</footer>
</body>
</html>